.wrapper-notfound {
    padding-top: 24px;
}

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 105px);
    color: var(--brand);
}

.notfound h1 {
    font-size: 120px;
}

.notfound p {
    color: var(--black);
}