header {
    height: 48px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 150px;
    height: 24px;
    margin: 12px 0;
}

header .tabs .tab,
header .cart {
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

header .tabs .tab {
    text-transform: none;
    min-width: 59px;
    width: 59px;
}

header .tabs .tab.Mui-selected {
    color: var(--brand);
}

header .cart {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header .cart img {
    margin-right: 4px;
}
