:root {
    --black: #172029;
    --white: #FFFFFF;
    --brand: #0073E6;
    --brand-light-1: #99C7F5;
    --brand-light-2: #E6F1FC;
    --brand-light-3: #F2F6FA;
    --gray: #808080;
    --gray-light: #F2F2F2;
    --acent: #FABC22;
    --focus: #ED2C19;
}

body {
    height: 100%;
}

.wrapper {
    margin: 0 32px;
}

.MuiCircularProgress-root {
    color: var(--brand) !important;
}

.MuiButton-root.brand-button {
    border-radius: 12px;
    background: var(--brand);
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;
}

.MuiButton-root.brand-button:hover {
    box-shadow: none;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--brand);
}

.MuiButton-root.brand-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--brand);
}

.MuiButton-root.brand-button:disabled {
    color: var(--white);
    opacity: 0.4;
    background: var(--brand);
}

div.items-counter {
    border-radius: 12px;
    box-shadow: none;
}

.items-counter button,
.items-counter p {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-light-2);
    font-weight: 700;
    border: none !important;
    border-radius: 0;
}

.items-counter button {
    color: var(--brand);
    font-size: 25px;
}

.items-counter button:disabled {
    background: var(--brand-light-2);
    color: rgba(0, 115, 230, 0.3);
}

.items-counter button:hover,
.items-counter p:hover {
    background: linear-gradient(0deg, rgba(0, 115, 230, 0.10) 0%, rgba(0, 115, 230, 0.10) 100%), var(--brand-light-2);
}

.items-counter button:active {
    background: var(--brand);
    color: var(--white);
}

.items-counter button:first-of-type {
    border-radius: 12px 0px 0px 12px;
}

.items-counter button:last-of-type {
    border-radius: 0px 12px 12px 0px;
}

@media (max-width: 500px) {
    .wrapper {
        margin: 0 10px;
    }
}

@media (max-width: 325px) {
    .wrapper {
        margin: 0 5px;
    }
}